* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #1A1B21;
  font-family: "Inter", sans-serif;
}

.info {
  color: white;
}

.info--personal-photo {
  width: stretch;
  height: 317px;
}

.info--name {
  margin-top: 21px;
  font-size: 25px;
  text-align: center;
}

.info--proffesion {
  margin-top: 2px;
  text-align: center;
  color:#F3BF99;
  font-size: 12px;
}

.center-box {
  text-align: center;
}

.info--website {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  margin-top: 8px;
}

.info--buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  margin-top: 15px;
}

.info--button-email {
  border-radius: 6px;
  padding: 9px 45px 9px 45px;
  font-size: 14px;
  background-color: azure;
  border: 1px azure solid;
  color: #374151;
}

.info--button-email:hover {
  background-color: #1A1B21;
  color: azure;
  border-color: azure;
}

.info--button-email:hover > img, .info--button-linkedin:hover > img {
  filter: invert(100%);
}

.info--button-linkedin {
  border-radius: 6px;
  padding: 9px 35px 9px 35px;
  font-size: 14px;
  background: #5093E2;
  border: 1px #5093E2 solid;
}

.info--button-linkedin:hover{
  background-color: azure;
  border-color: azure;
  color: #1A1B21;
}

.info--button-email > img, .info--button-linkedin > img {
  margin-right: 10px;
}

.about {
  margin-top: 33px;
  color: #F5F5F5;
  margin-left: 30px;
  margin-right: 20px;
}

.about--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.about--paragraph {
  font-size: 10.24px;
  line-height: 150%;
}